@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate-bg {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;  
    }

    50% {
        background-size: 200% 200%;
        background-position: right center;  
    }
}

.animate-bg-x {
    animation: animate-bg ease infinite;
    transition: all ease-in-out;
}

